<div id="accordion" class="accordion w-75 mx-auto mb-6">
  <h3 class="rounded bg-success text-white fw-bold lh-lg">Собираете ли вы подарочные боксы?</h3>
  <div class="rounded">
    <p>
      Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус,
      объем и стоимость!
    </p>
  </div>
  <h3 class="rounded bg-success text-white fw-bold lh-lg">Сколько у вас разновидностей чая?</h3>
  <div class="rounded">
    <p>
      Более десяти разновидностей чая из разных уголков планеты.
    </p>
  </div>
  <h3 class="rounded bg-success text-white fw-bold lh-lg">В какой срок осуществляется доставка?</h3>
  <div class="rounded">
    <p>
      Зависит от способа доставки, но не более 14 дней.
    </p>
  </div>
  <h3 class="rounded bg-success text-white fw-bold lh-lg">У вас обновляется ассортимент?</h3>
  <div class="rounded">
    <p>
      Да, ассортимент обновляется каждые пятницу и среду.
    </p>
  </div>
  <h3 class="rounded  bg-success text-white fw-bold lh-lg">Какого объема у вас пачки чая?</h3>
  <div class="rounded">
    <p>
      Зависит от вида чая. Минимальный объем - 50 грамм, максимальный - 300 грамм.
    </p>
  </div>
</div>




